
#toc {
  margin-bottom: 25px;
}

#toc ul {
  margin: 0;
  padding: 0;
  list-style: disc;
  margin-left: 15px;
}

#toc li a{
  padding: 5px 10px;
}

#toc a {
  text-decoration: none;
  display: block;
}

#toc a:hover {
  background: #F3F4F8;
}

#toc .toc-h1 {
  padding-left: 0px;
}

#toc .toc-h2 {
  padding-left: 0px;
}

#toc .toc-h3 {
  padding-left: 10px;
  list-style: none;
}
/*
#toc .toc-active {
    background: #F7F7F7;
    box-shadow: rgb(222, 233, 232) -5px 0px 10px -5px inset;
}*/

article.markdown-body h2, #wiki-body .markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  line-height: 1.225;
  border-bottom: 2px solid #eee;
}

article.markdown-body h3, #wiki-body .markdown-body h3 {
  padding-bottom: 0.3em;
  font-size: 1.3em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
